.container {
  max-width: 800px;
  margin: 0 auto;
}

.book-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  height: 650px;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.book-list li {
  width: 120px;
}

.book-list img {
  background-color: lightgray;
}

.grey-out {
  filter: grayscale(1);
}
