.container {
  max-width: 800px;
  margin: 0 auto;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.book-list a:hover img {
  outline: 8px solid hotpink;
}

.book-list li {
  width: 90px;
  padding: 1rem;
}

.book-list img {
  background-color: lightgray;
}

.grey-out {
  filter: grayscale(1);
}
